<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="utf-8" />
  <link rel="shortcut icon" href="{{ icon }}" type="image/x-icon" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- google font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400&display=swap" rel="stylesheet">

  <!-- google analytics -->
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ google_analytics }}');
  </script>

  <!-- google icon -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

  <link href="style.css" rel="stylesheet" type="text/css" />
  <title>{{ title }}</title>
</head>
<body>
  <div class="container">

    <!-- photo -->
    <div class="container avatar-block">
      <img src="{{ avatar }}" alt="Avatar" class="avatar">

      <!-- name -->
      <div class="container name-block">
        {{ name }}
      </div>

      <!-- description -->
      <div class="container description-block">
        {{ description }}
      </div>
    </div>
    
    <!-- link -->
    {% for item in links %}
      {% if 'open' not in item %}
        {% set open = 'blank' %}
      {% else %}
        {% set open = item.open %}
      {% endif %}
      <div class="block link" onclick="window.open('{{ item.url }}', '_{{ open }}').focus()">
        <img src="{{ item.icon }}" alt="Icon" class="link-icon">
        <div class="link-text">
          {{ item.title }}
        </div>
        <span class="material-symbols-outlined">
          arrow_forward_ios
        </span>
      </div>
    {% endfor %}
    
    <!-- footer -->
    <div class="block footer">
      {{ footer }} 
    </div>
  </div>

</body>
</html>

